<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhaoqiang.windowmagagertest" >

    <!-- 添加系统悬浮窗的权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_splash" >
        </activity>
        <activity
            android:name=".GuarFloatWindowActivity"
            android:label="@string/title_activity_guar_float_window" >
            <!--&lt;!&ndash; 悬浮窗： &ndash;&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".SystemFloatAvtivity"
            android:label="@string/title_activity_system_float_avtivity" >
        </activity>
        <activity
            android:name=".DialogTestActivity"
            android:label="@string/title_activity_dialog_test"
            android:theme="@style/dialogTheme"
            >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".QQRocketDemo"
            android:label="@string/title_activity_qqrocket_demo"
            >
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
